@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.woff') format('woff2'),
         url('fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 400;
    font-weight: 500;
  }

    .block-with-links_heading {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.2px;
     text-transform: uppercase;
     color: #7E7E82;

    }

    
    .block-with-links_container.swiper-slide {
     position: relative;
     flex-shrink: 0;
     width: 240px;
     height: 72px;
     margin: 0;
     opacity: 1;
     border-radius: 6px;
     border-width: 1px;
     border: 1px solid #EAEAEA;
     display: flex;
     align-items: center;
     padding-left: 16px;

    }

    .block-with-links_container_button {
     position: absolute;
     right: 16px;
     top: 50%;
     transform: translateY(-50%);
     width: 40px;
     height: 40px;
     border: 2px solid #FF3E79;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #FF3E79;
     font-size: 24px;
}

    .block-with-links_hide_show_button {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     gap: 9px;
     width: 134px;
     height: 24px;
     margin-top: 24px;
     margin-left: 24px;
     background: white;
     border: none;
    }

    .block-with-links_hide_show_button__hide_button,
    .block-with-links_hide_show_button__show_button {
      padding: 0;
     line-height: 24px;
     letter-spacing: -0.2px;
     color: #1B1C21;
     font-weight: 500;
     size: 16px;
    }

    .block-with-links.swiper {
     background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

  @media screen and (max-width:320px) {
    *, *::before, *::after {
        box-sizing: border-box;
        font-family: 'TT Lakes'; 
    };
    

    .header {
        width: 320px;
        height: 80px;
    }
    

    .swiper-wrapper {
        
        margin-top: 16px;
        margin-left: 16px;
    }

    .block-with-links.swiper {
     position: relative;
     min-height: 180px; 
     padding-bottom: 40px; 
     width: 320px;
    }

    .swiper-pagination {
        position: absolute !important;
        top:104px !important;
        text-align: start !important;
        padding-left: 48px;
}


    .block-with-links_hide_show_button{
        display: none;
    }

    span.swiper-pagination-bullet {
     width: 12px;       
     height: 12px;
     opacity: 1;
     background: #DDDDDD;
     margin-right: 0 !important;
     margin-left: 12px !important;
    }

    
    span.swiper-pagination-bullet-active {
     background: #B5B6BC;

     
    }

    span.swiper-pagination-bullet:nth-child(n+10) {
     display: none;
     opacity: 0;
     width: 0;
     margin: 0;
     transition: all 0.3s ease;
  }

  .fade {
    z-index: 10;
    position: absolute; 
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px;
    height: 81px;
    top: 0; 
    right: 0; 
    left: auto; 
}
  

 }


 @media screen and (min-width:321px) and (max-width:768px) {
     *, *::before, *::after {
        box-sizing: border-box;
        font-family: 'TT Lakes'; 
    };
     
    .header {
        width: 768px;
        height: 56px;
    }

    .block-with-links.swiper{
        width: 768px;
    }

    .block-with-links_heading{
        padding: 16px 24px;
    }

    .block-with-links_container.swiper-slide {
       width: 224px;
       height: 72px;
       margin-right: 32px !important;
       margin-top:24px;
    }

    .swiper-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 32px;
        
       
    }

    .block-with-links_container.swiper-slide {
        margin-top: 16px;
    }

    .hidden-content:nth-child(n+7){
    display: none;
    }

    .block-with-links_hide_show_button__hide_button{
       display: none;
    }



    .show {
        display: flex;
    }

    .hide {
        display: none;
    }
    
 }


  @media screen and (min-width:769px) {
     *, *::before, *::after {
        box-sizing: border-box;
        font-family: 'TT Lakes'; 
    }


    .header {
        width: 1120px;
        height: 56px;
    }

    .block-with-links.swiper{
        min-width: 1120px;
    }

    .block-with-links_heading{
        padding: 16px 32px;
    }

    .swiper-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 32px;
    }

    .block-with-links_container.swiper-slide {
        margin-right: 32px !important;
        margin-top:24px;
    }

    .hidden-content:nth-child(n+9){
    display: none;
    }

    .block-with-links_hide_show_button__hide_button{
        display: none;
    }



    .show {
        display: flex;
    }

    .hide {
        display: none;
    }

}